

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



body {background-color:black;}

header
 { border: 1px solid black;
text-align: center;
font-family: 'Oswald';
background-color:  #fc89ac ;
color: black;}


nav {border: 2px solid black;
padding: 20px 20px 20px 30px;
margin: 10px 10px 10px 10px;
background-color: white;
color: white;}

}

a:visited { color:black;
}
a:hover{ background-color: pink;
font-size: 15px;}



.container{
  display: flex;
  justify-content:space-around;

}


section
{ border : 3px solid white;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
display: flex;
flex-direction: column;
font-family:  sans-serif;
background-color: #afeeee;
}


.foto {border: 1px solid white;
width: 30%;
}

H1{
  font-family:  sans-serif;
}
h2 {border: 2px solid white;

}

  .sectioninfo {border: 1px solid  #afeeee;
    font-size: 110%;
  }

aside
{ border: 3px solid white;
  padding: 10px 0px 0px 10px;
margin: 10px 10px 10px 10px;
background-color:  #fc89ac;
font-size: 100%;}

li{ padding: 10px 10px 10px 10px;
}



footer
